* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: HarryP;
  src: url("HARRYP__.TTF");
}

html {
  width: 100%;
  height: 100%;
  background: url("./assets/Department_of_Mysteries.jpg") center center
    no-repeat;
  background-color: black;
  font-family: HarryP !important;
}

.score {
  color: rgb(236, 236, 236);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.intro {
  color: rgb(236, 236, 236);
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 55px;
}

.description {
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.answerYes {
  margin-bottom: 5px;
}

#modalBtn {
  margin-top: 5px;
}

.intro button,
.duel button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(236, 236, 236);
  font-size: 35px;
  font-family: HarryP !important;
  background-color: rgb(16, 61, 112);
  border-radius: 5px;
  transition: all 0.8s ease;
  cursor: pointer;
}

.intro a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgb(16, 61, 112);
  color: rgb(236, 236, 236);
  font-size: 35px;
  border-radius: 5px;
  transition: all 0.8s ease;
}

.duel button {
  margin-left: 8px;
  margin-right: 8px;
}

.intro button:hover,
.intro a:hover,
.duel button:hover {
  background-color: rgb(236, 236, 236);
  color: rgb(16, 61, 112);
}

.duel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: rgb(236, 236, 236);
  text-align: center;
  font-size: 50px;
}

.opponent {
  text-align: center;
  margin-bottom: 15px;
}

.opponent,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content,
.alert-content {
  background-color: rgb(16, 61, 112);
  color: rgb(236, 236, 236);
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 80%;
}

.modal-content p {
  padding: 5px;
}

.close {
  color: rgb(236, 236, 236);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.alert-content h1 {
  font-size: 80px;
  padding: 10px;
}

.alert-content p {
  font-size: 40px;
  padding: 10px;
}

.alertBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.alertBtn a {
  text-decoration: none;
  width: 150px;
  height: 50px;
  padding: 5px;
  border: 2px solid rgb(16, 61, 112);
  background-color: rgb(236, 236, 236);
  color: rgb(16, 61, 112);
  font-size: 35px;
  border-radius: 5px;
  transition: all 0.8s ease;
}

.alertBtn a:hover {
  background-color: rgb(16, 61, 112);
  color: rgb(236, 236, 236);
  border: 2px solid rgb(236, 236, 236);
}

@media only screen and (max-width: 600px) {
  .intro h1 {
    background-color: black;
    text-align: center;
    padding: 15px;
  }

  .duel {
    margin-top: 80px;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stupefy,
  .depulso,
  .confringo,
  .rictusempra {
    margin-top: 5px;
  }
}
